.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider-container {
  display: flex;
  align-items: stretch;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider-container__slide {
  width: 100%;
  max-width: 40%;
  flex: 1 0 40%;
  text-align: center;
  /*padding: 2rem 10rem;*/
  border: thin solid gray;
  min-height: 5rem;
  /* margin: 1rem; */
}

.slider-container__prev-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.slider-container__next-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.slider-container__slides {
  display: flex;
  transition: .5s;
  z-index: 1;
  width: 100%;
}